# Diana SSH Tunnel PostgreSQL Database
DB_HOST=localhost
DB_NAME=
DB_PASS=
DB_PORT=5432
DB_USER=
SQLALCHEMY_DATABASE_URI="postgresql+psycopg2://DB_USER:DB_PASS@DB_HOST:DB_PORT/DB_NAME"

# Google Cloud Storage depósitos
CLOUD_STORAGE_DEPOSITO_EDICTOS=
CLOUD_STORAGE_DEPOSITO_GLOSAS=
CLOUD_STORAGE_DEPOSITO_LISTAS_DE_ACUERDOS=
CLOUD_STORAGE_DEPOSITO_OFICIOS=
CLOUD_STORAGE_DEPOSITO_SENTENCIAS=
CLOUD_STORAGE_DEPOSITO_VSP_DIGITALIZACIONES=

# VASPEC digitalizaciones
CLOUD_STORAGE_DEPOSITO_VASPEC=
RCLONE_REMOTE_ORIGEN=
RCLONE_REMOTE_DESTINO=
VASPEC_DIR=

# Salt sirve para cifrar el ID con HashID, debe ser igual en la API
SALT=

# Huso horario
TZ=America/Mexico_City
